@charset "UTF-8";

@font-face {
    font-family: 'Caviar Dreams';
    src: url(../fontes/CaviarDreams.ttf) format(truetype);
}

@font-face {
    font-family: 'Louis' ;
    src: url(../fontes/Louis\ George\ Cafe.ttf) format(truetype);
}

/*
Typical Device Breakpoints
--------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
*/

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Louis';
    color: rgb(0, 0, 0);

}
body,html{
    background: url(../imagens/pexels-dids-3312887.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
section{
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-color: #d99cacec;
    border: 2px solid #ffffff;
    border-radius: 20px;
    width: 350px;
    box-shadow: 0px 0px 10px white; 
    
    transform: translate(-50%, -50%);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

div#formulario {
    display: block;
    padding: 10px;
}

div.campo{
    background-color: #1F2526;
    padding: 1px;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 100%;
    height: 40px;
}
input[type="email"],[type="password"]{
    border: none;
    background-color: #F2D5E0;
    padding: 10px;
    border-radius: 10px;
    width: 82.1%;
    height: 17px;
    border-left: 0px;
    font-size: 15px;
}
input[type="submit"]{
    background-color: #1F2526;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    border: 2px solid #1F2526;
    font-family: 'Louis';
    font-size: 18px;
    color: white;
    letter-spacing: 2px;
    cursor: pointer;
}

input[type="submit"]:hover{
    border: 2px solid white;
}

form > a{
    display: block;
    text-align: center;
    font-size: 15px;
    width: 287px;
    padding: 5px; 
    margin: 10px;
    background-color: rgba(240, 248, 255, 0);
    color: white;
    border: 2px solid white;    
    border-radius: 5px;
    text-decoration: none;
}

/*
form > a{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 99.2%;
    height: 25px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border:2px solid white;
    border-radius: 5px;
    text-decoration: none; 
}
*/

form > a:hover{
    border: 2px solid #733944;
    color: #733944;
    cursor: pointer;
}

span{
    color: #ffffff;
    margin-right: 10px;
    top: 50%;
    left: 50%;
    transform: translate(35%, 32%);
}

div#formulario > h1{
    padding: 10px;
    font-size: 40px;
    color: rgb(0, 0, 0);
    letter-spacing: 5px;
    text-align: center;
    font-family: 'Caviar Dreams';
}

p{
    padding: 10px;
    
    
}