@charset "UTF-8";

@font-face {
    font-family: 'Caviar Dreams';
    src: url(../fontes/CaviarDreams.ttf) format(truetype);
}

@font-face {
    font-family: 'Louis' ;
    src: url(../fontes/Louis\ George\ Cafe.ttf) format(truetype);
}

/*
Typical Device Breakpoints
--------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
*/

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Louis';

}
body,html{
    background: url(../imagens/pexels-dids-3312887.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: #d99cacdf;
    border: 2px solid #1F2526;
    border-radius: 20px;
    width: 350px;
    box-shadow: 0px 0px 10px black;
    
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

/* para telas maiores somente
div#imagem{
    display: block;
    background:url(../imagens/rodagigante.jpg);
    height: 200px;
    background-size: cover;
    margin-bottom: 5px;
    padding: 0px;
    background-position: left center;
}
*/

div#formulario {
    display: block;
    padding: 10px;
}














div#formulario > h1{
    padding: 10px;
    font-size: 30px;
}

p{
    padding: 10px;
    
}